<h3><center>Let the battle commence!</center></h3>


<p style="text-align:center"><img src="http://tinyurl.com/j7lqyyg"/></p>

<form action="/names" method="post" ><center>
  <input type="text" name="player_1_name">
  <h5>versus</h5>
  <input type="text" name="player_2_name"></centre>
  <center>  <input type="submit" value="Play!"></center>

</form>
