<h3><center>Let the battle commence!</center></h3>


<p style="text-align:center"><img src="http://tinyurl.com/j7lqyyg"/></p>

<div class="text" style="text-align:center"><form action="/names" method="post">
  <label for="player1">
    Player 1 name:
  </label><br>
  <input id="player1" name="player1" type="text"><br>
  <centre>Player 2 name:<br>
  <input type="text" name="player2"><br><br>
  <input type="submit" value="Play!" />
</form>
</div>
